<!-- Drawer -->
<aside class="app-layout-drawer">

    <!-- Drawer scroll area -->
    <div class="app-layout-drawer-scroll">
        <!-- Drawer logo -->
        <div id="logo" class="drawer-header">
            <a href="index.html"><img class="img-responsive" src="/assets/img/logo/logo-backend.png" title="AppUI" alt="AppUI" /></a>
        </div>

        <!-- Drawer navigation -->
        <nav class="drawer-main">
            <ul class="nav nav-drawer">
                <li class="nav-item <% if(title == 'Dashboard'){%> active <%}%>">
                    <a href="/Dashboard" style="<% if(title == 'Dashboard'){%> color:rgb(125, 200, 85) <%}%>"><i class="ion-ios-speedometer" ></i> Dashboard</a>
                </li>

                <li class="nav-item">
                    <a href="/"><i class="ion-ios-monitor"></i> Frontend</a>
                </li>

                <li class="nav-item <% if(title == 'Profile'){%> active <%}%>">
                    <a href="/profile" style="<% if(title == 'Profile'){%> color:rgb(125, 200, 85) <%}%>"><i class="ion-ios-contact-outline"></i>  Profile</a>
                </li>
                <% if(title == 'Dashboard'){%> 
                    <li class="nav-item" onclick="showRightSection('userList')">
                        <a><i class="ion-chatbubble"></i> Direct Messages <span class="ion-ios-plus-outline" style="color:green; font-size: 18px; float: right; cursor: pointer;"></span></a>
                    </li>
                <%}%>
            </ul>
            <% if(title == 'Dashboard'){%> 
            <ul class="nav nav-drawer" id="directMsgList">
                <% if(data[0].allConv !== undefined){%>
                    <% _.each(data[0].allConv, function(all,kaa){ %> 
                        <% if(all.participants.indexOf(user_id) !== -1){%>
                            <% if(all.conv_type == 'single'){%>
                                <% _.each(all.participants, function(v,k){ %>   
                                    <% if(v !== user_id ){%>
                                        <% _.each(data[0].users, function(user,ku){ %> 
                                            <% if(user._id == v){%>
                                                <li onclick="startConversation('<%= all.conversation_id %>')" class="nav-item conversations_Sidebar" id="conv_<%= all.conversation_id %>" data-name="<%= user.name%>" data-conv-id="<%= all.conversation_id %>" data-user-id="<%= user._id%>" data-conv-type="<%= all.conv_type %>" data-tm="<%= all.participants.length %>">
                                                    <a><i class="fa fa-circle" style="color: rgb(125, 200, 85); font-size: 14px !important; line-height: 19px !important"></i> <span class="user_name"><%= user. name%></span></a>
                                                </li>
                                            <%}%>
                                        <%})%>
                                    <%}%>
                                <%})%>
                            <%}%>
                        <%}%>
                    <%})%>
                <%}%>
            </ul>
            <% } %>
        </nav>
        <!-- End drawer navigation -->

        <div class="drawer-footer">
            <p class="copyright">Blog71 Template &copy;</p>
        </div>
    </div>
    <!-- End drawer scroll area -->
</aside>
<!-- End drawer -->