<%- include('partials/head')%>
    <%- include('partials/aside')%>
    <%- include('partials/top_head')%>
        <main class="app-layout-content">

            <!-- Page Content -->
            <div class="container-fluid p-y-md">
                <!-- Stats -->
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <a class="card" href="javascript:void(0)">
                            <div class="card-block clearfix">
                                <div class="pull-right">
                                    <p class="h6 text-muted m-t-0 m-b-xs">Friend Request</p>
                                    <p class="h3 text-blue m-t-sm m-b-0">10</p>
                                </div>
                                <div class="pull-left m-r">
                                    <span class="img-avatar img-avatar-48 bg-blue bg-inverse"><i class="ion-ios-bell fa-1-5x"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- .col-sm-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <a class="card bg-green bg-inverse" href="javascript:void(0)">
                            <div class="card-block clearfix">
                                <div class="pull-right">
                                    <p class="h6 text-muted m-t-0 m-b-xs">Total Friend</p>
                                    <p class="h3 m-t-sm m-b-0">100</p>
                                </div>
                                <div class="pull-left m-r">
                                    <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-people fa-1-5x"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- .col-sm-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <a class="card bg-blue bg-inverse" href="javascript:void(0)">
                            <div class="card-block clearfix">
                                <div class="pull-right">
                                    <p class="h6 text-muted m-t-0 m-b-xs">All Post</p>
                                    <p class="h3 m-t-sm m-b-0">$340.5k</p>
                                </div>
                                <div class="pull-left m-r">
                                    <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-speedometer fa-1-5x"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- .col-sm-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <a class="card bg-purple bg-inverse" href="javascript:void(0)">
                            <div class="card-block clearfix">
                                <div class="pull-right">
                                    <p class="h6 text-muted m-t-0 m-b-xs">Messages</p>
                                    <p class="h3 m-t-sm m-b-0">3 new</p>
                                </div>
                                <div class="pull-left m-r">
                                    <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-email fa-1-5x"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- .col-sm-6 -->
                </div>
                <!-- .row -->
                <div class="card">
                    <div class="card-header">
                        <h4>All Users</h4>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless table-vcenter">
                                <thead>
                                    <tr>
                                        <th class="text-center w-10"><i class="ion-person"></i></th>
                                        <th>Name</th>
                                        <th style="width: 30%;">Email</th>
                                        <th style="width: 20%;">Role</th>
                                        <th class="text-center" style="width: 100px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(title == 'Dashboard'){%>
                                            <% if(data[0].users != undefined){%>
                                                <% var i = 1; %>
                                                <% _.each(data[0].users, function(v,k){%>
                                                    <% if(v._id != user_id){%>
                                                    <% if(v.gender == "male"){ v.avatar = 'male_avatar.svg'}else{v.avatar = 'female_avatar.svg'}%>
                                                        <tr id="userId_<%= v._id%>" data-id="<%= v._id %>">
                                                            <td class="text-center"><img class="img-avatar img-avatar-48" src="/usersImg/<%= v.avatar %>" alt=""></td>
                                                            <td class="font-500"><%= v.name %></td>
                                                            <td><%= v.email%></td>
                                                            <td><%= v.type%></td>
                                                            <td class="text-center">
                                                                <div class="btn-group">
                                                                    <button id="userView_<%= v._id%>" data-id="<%= v._id%>" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Open Conversation" onclick=openConversation('<%= v._id%>')><i class="ion-chatbubble"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    <%}%>
                                                <%})%>
                                            <%}%>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- .card-block -->
                </div>
            </div>
            <!-- .container-fluid -->
            <!-- End Page Content -->

        </main>
        <script type="text/javascript">
            var allUserData = <%- JSON.stringify(data[0].users) %>;
            var user_id = '<%= user_id%>';

        </script>

<%- include('partials/foot')%>