<%- include('partials/head')%>
    <%- include('partials/aside')%>
    <%- include('partials/top_head')%>
        <main class="app-layout-content">
            <!-- Page Content -->
            <div class="container-fluid p-y-md">
                <div class="card card-profile">
                    <div class="card-profile-img bg-img" style="background-image: url(/assets/img/misc/base_pages_profile_header_bg.jpg);">
                    </div>
                    <div class="card-block card-profile-block text-xs-center text-sm-left">
                        <img class="img-avatar img-avatar-96" src="/usersImg/<%= user_avatar %>" alt="">
                        <div class="profile-info font-500"><%= user_name %>
                            <div class="small text-muted m-t-xs"><%= user_email %></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <ul class="nav nav-tabs nav-stacked">
                                <li class="active">
                                    <a href="#" data-toggle="tab">General info</a>
                                </li>
                            </ul>
                            <!-- .nav-tabs -->
                        </div>
                        <!-- .card -->
                    </div>
                    <!-- .col-md-4 -->

                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-block tab-content">
                                <!-- Profile tab 1 -->
                                <div class="tab-pane fade in active">
                                    <form class="fieldset" id="profileGeneralInfoForm">
                                        <div id="alertMessage"></div>
                                        <h4 class="m-t-sm m-b">General info</h4>
                                        <div class="form-group row">
                                            <div class="col-xs-6">
                                                <label for="exampleInputName1">First name</label>
                                                <input type="text" class="form-control" name="fname" value="<%= frist_name %>" placeholder="Enter Frist Name..." id="userFristName">
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="exampleInputName2">Last name</label>
                                                <input type="text" class="form-control" name="lname" value="<%= last_name %>" placeholder="Enter Last Name..." id="userLastName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xs-6">
                                                <label for="exampleInputPhone1">Mobile phone</label>
                                                <input type="tel" class="form-control" name="phone" value="<%= user_phone %>" placeholder="Enter Mobile Number" id="userMobilePhone">
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Email Address</label>
                                                <input type="email" class="form-control" name="email" value="<%= user_email %>" disabled="" id="userEmailAddress">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" name="home_address" value="<%= home_address %>" placeholder="Write your address..." id="userHomeAddress">
                                        </div>
                                        <div class="form-group">
                                            <label>About Me</label>
                                            <textarea type="text" class="form-control" name="about_me" value="<%= about_me %>" placeholder="Write something about you..." id="userAboutMe"><%= about_me %></textarea>
                                        </div>
                                        <div class="row narrow-gutter">
                                            <div class="col-xs-6">
                                                <button type="button" id="updateGeneralInfo" class="btn btn-app btn-block">Save<span class="hidden-xs"> changes</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End profile tab 1 -->
                            </div>
                            <!-- .card-block .tab-content -->
                        </div>
                        <!-- .card -->
                    </div>
                    <!-- .col-md-8 -->
                </div>
                <!-- .row -->
            </div>
            <!-- End Page Content -->

        </main>
        <script type="text/javascript">
            var user_id = '<%= user_id %>';
            var user_name = '<%= user_name %>';
        </script>
<%- include('partials/foot')%>