<%- include('partials/head')%>
    <div class="card" style="width: 35%;margin:10% auto;">
        <div class="card-header bg-green bg-inverse">
            <h4>Create new account</h4>
        </div>
        <div class="card-block">
            <% if(data != true){ %>
                <% if(data._id != undefined){ %>
                    <div class="alert alert-success">
                        <p><strong>Well done! </strong>You successfully Inserted</p>
                    </div>
                <% }else{ %>
                    <% if(data.password != undefined){ %>
                        <div class="alert alert-warning">
                            <p><strong>Warning! </strong><%= data.password %></p>
                        </div>
                    <% } %>
                    <% if(data.password2 != undefined){ %>
                        <div class="alert alert-warning">
                            <p><strong>Warning! </strong><%= data.password2 %></p>
                        </div>
                    <% } %>
                    <% if(data.email != undefined){ %>
                        <div class="alert alert-warning">
                            <p><strong>Warning! </strong><%= data.email %></p>
                        </div>
                    <% } %>
                    <% if(data.frist_name != undefined){ %>
                        <div class="alert alert-warning">
                            <p><strong>Warning! </strong><%= data.frist_name %></p>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
            <form class="form-horizontal m-t-sm" action="/users/register" method="post">
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="register4-firstname">First name</label>
                        <input class="form-control" type="text" id="register4-firstname" name="fname" placeholder="Your first name">
                    </div>
                    <div class="col-xs-6">
                        <label for="register4-lastname">Last name</label>
                        <input class="form-control" type="text" id="register4-lastname" name="lname" placeholder="Your last name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12" for="register4-email">Email</label>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input class="form-control" type="email" id="register4-email" name="email" placeholder="Enter email...">
                            <span class="input-group-addon"><i class="ion-ios-email"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12" for="register4-password">Password</label>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input class="form-control" type="password" id="register4-password" name="password" placeholder="Enter password...">
                            <span class="input-group-addon"><i class="ion-asterisk"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12" for="register4-password2">Confirm Password</label>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input class="form-control" type="password" id="register4-password2" name="password2" placeholder="Enter password...">
                            <span class="input-group-addon"><i class="ion-asterisk"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12" for="register1-username">Phone Number</label>
                    <div class="col-xs-12">
                        <input class="form-control" type="number" id="register1-username" name="phone" placeholder="Enter Phone...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12">Role</label>
                    <div class="col-xs-12">
                        <label class="css-input css-radio css-radio-success">
                            <input type="radio" name="type" checked="" value="admin"><span></span> Admin
                        </label>
                        <label class="css-input css-radio css-radio-success m-r-sm">
                            <input type="radio" name="type" value="user"><span></span> User
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12">Gender</label>
                    <div class="col-xs-12">
                        <label class="css-input css-radio css-radio-success">
                            <input type="radio" name="gender" checked="" value="male"><span></span> Male
                        </label>
                        <label class="css-input css-radio css-radio-success m-r-sm">
                            <input type="radio" name="gender" value="female"><span></span> Female
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="register1-terms" name="register1-terms"><span></span> I agree with terms
                        </label>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-xs-12">
                        <button class="btn btn-app" type="submit" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo" >Register</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- .card-block -->
    </div>
<%- include('partials/foot')%>